footer {
  background: #000;
  color: #fff;
  padding: 50px 0 0px;
  height: auto !important;
}

.footer-top {
  border-bottom: 1px solid #383941;

  .row {
    padding: 0px 10px;
  }

  a {
    color: white;
  }

  .footer__left {
    .logo_footer {
      position: relative;
      margin-bottom: 19px;
      padding-bottom: 14px;

      img {
        height: 80px;
        width: 232px;
      }

      &:after {
        content: "";
        width: 350px;
        height: 1px;
        position: absolute;
        bottom: 0;
        display: inline-block;
        left: 0;
        background: #FFE400;

         @media(max-width:991px) {
          width: 100%;
        }
        
      }

    }

    .footer_contact {
      list-style: none;

      li {
        margin-bottom: 22px;
        font-size: 18px;

        i {
          color: #FFE400;
        }

        a {
          font-size: 18px;
        }

      }

      i {
        margin-right: 10px;
      }

    }

  }

  .footer__right {
    h3 {
      line-height: 2;
      padding-bottom: 0px;
      font-weight: 600;

      &:after {
        content: "";
        width: 200px;
        height: 1px;
        position: absolute;
        bottom: 0;
        display: inline-block;
        left: 0;
        background: #FFE400;

        @media(max-width:991px) {
          width: 100%;
        }

      }

      display: block;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 19px;

      @media(min-width:991px) {
        margin-top: 44px;
      }

      text-transform: none;
      font-size: 20px;
      color: white;

      i {
        cursor: pointer;
      }

    }

    .col_menu_rt {
      padding: 0px 15px;

      @media(min-width:769px) {
        .fa-chevron-down {
          display: none;
        }

      }

      ul {
        align-items: flex-start;
        flex-direction: row !important;

        @media(min-width:769px) {
          display: block;
        }

        li {
          flex: 100%;
          max-width: 100%;
        }

      }

      > ul > li {
        margin-bottom: 22px;

        > a {
          color: white;
          font-size: 18px;
        }

      }

      &:last-child {
        margin-right: 0px;
      }

    }

  }

  .footer_social {
    margin-top: 20px;
    list-style: none;
    justify-content: flex-end;
    display: flex;
    padding: 0px 5%;
    align-items: center;

    @media(max-width:991px) {
      justify-content: flex-start;
      margin-bottom: 20px;
      padding-left: 0px;
    }

    li:nth-child(4) {
      display: none;
    }

    @media(max-width:450px) {
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      li:nth-child(4) {
        margin-top: 20px;
      }

    }

    a {
      padding: 0px 7px !important;
    }

    li {
      &:nth-last-child(2), &:nth-last-child(1) {
        margin-left: 10px;
      }

    }

  }

}

@media (max-width:992px) {
  .footer-top .footer__right {
    max-width: 100%;
    flex-basis: 100%;
  }

}

@media (max-width:992px) {
  .footer-top .footer__right .col_menu_rt {
    margin-bottom: 30px;
  }

}

@media (max-width:550px) {
  .footer-top .footer__right .col_menu_rt {
    width: 100%;
  }

}

@media (max-width:1200px) {
  .footer-top .footer__right .col_menu_rt {
    padding: 10px;
  }

}

.footer-bottom {
  font-size: 14px;
  line-height: 1.5;
  padding: 20px 0 20px;

  .row {
    padding: 0px 15px;
  }

  .copyright-left {
    display: flex;
    width: 100%;
    justify-content: center;
  }

}