header {
  .menu-main {
    &.small {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999999;

      .top-header {
        display: none;
      }

      @media (max-width:768px) {
        .menu_header {
          display: none;
        }

      }

    }

    .container .navbar {
      padding: 32px 0px;
    }

  }

  .top-header {
    background-color: #1A1C24;
    padding: 10px 0px;

    .time {
      color: white;
      font-size: 18px;
      display: flex;
      align-items: center;

      i {
        margin-right: 5px;
        font-size: 25px;
      }

    }

    .language ul {
      float: right;

      li {
        &:first-child {
          border-right: 1px solid #707070;
          padding-right: 10px;
        }

        padding: 0px 5px;
      }

    }

    img {
      height: 20px;
      width: 20px;
    }

  }

  .menu_header {
    background: #FFE400;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.5);

    .navbar-toggler {
      color: #FFF !important;
      background: #000;
      padding: 11px 20px 13px;
      margin: 15px 0;
      opacity: 1;
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: 0.02em;
      text-shadow: none;
      -webkit-font-smoothing: antialiased;
      border: 0;
      text-transform: uppercase;
      -webkit-transition: all 200ms ease-out;
      border-radius: 3px;
      box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    }

    nav .collapse.navbar-collapse > ul.navbar-nav {
      width: 100%;
      justify-content: flex-end;
      padding-top: 20px;

      > li {
        &.nav-item.dropdown:last-child > a {
          color: #FFE400;
          background: #1A1C24;
          border-radius: 5px;
          margin-left: 20px;
          padding: 0px 20px;
          margin-right: 0px;
        }

        &.dropdown-toggle {
          &:hover .dropdown-menu {
            display: block !important;
          }

          &::after {
            display: none;
          }

          > a.nav-link::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
          }

        }

        line-height: 45px;

        > a.nav-link {
          &:after {
            display: none;
          }

          border-bottom: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          transition: all 0.125s ease-out;
          font-size: 18px;
          text-transform: uppercase;
          color: #000;
          padding: 0px;
          margin-right: 20px;
          margin-left: 0px;
          border: 1px solid rgba(255, 255, 255, 0);
          border-radius: 3px;
          bottom: -1px;
          z-index: 2;
          font-weight: 600;
        }

        a.nav-link:hover {
          color: #000;
        }

        > ul.dropdown-menu {
          background: #1A1C24;
          margin-top: 0px;
          padding: 0px;
          border-radius: unset;
          width: 100%;

          > li {
            &:last-child {
              border-bottom: unset;
            }

            border-bottom: 1px solid #FFE400;

            > {
              a {
                line-height: 18px;
                padding: 13px 20px;
                color: white;
                text-transform: inherit;
                white-space: normal;

                &:hover {
                  background: #1A1C24;
                  color: #FFE400;
                }

                &:focus {
                  color: #FFE400;
                  background: black;
                }

              }

              :active {
                color: white !important;
              }

            }

          }

        }

      }

    }

    .dropdown-menu {
      left: 0px;
    }

    img {
      width: 100%;
    }

  }

  .navbar-toggle {
    margin-left: 8px;
  }

}

@media (max-width:350px) {
  header .menu-main .container .navbar {
    display: flex;

    .navbar-brand {
      margin-right: 0px;
      width: 50%;
    }

  }

}

@media (max-width:991px) {
  header .top-header {
    display: none;
  }

}

@media (max-width:991px) {
  header .menu_header .menu_pc .logo_pc {
    display: none;
  }

}

@media (min-width:991px) {
  header .menu_header .navbar-brand {
    display: none;
  }

}

@media (min-width:991px) and (max-width:1400px) {
  header .menu_header nav .collapse.navbar-collapse > ul.navbar-nav > li > a.nav-link {
    font-size: 15px;
  }

}

@media (min-width:991px) {
  header .menu_header nav .collapse.navbar-collapse > ul.navbar-nav > li > ul.dropdown-menu {
    width: 210px;
    top: 45px;
  }

}

@media (max-width:991px) {
  header .menu_header nav .collapse.navbar-collapse > ul.navbar-nav > li > ul.dropdown-menu {
    border: none;
    padding: 0px 25px;
  }

}

@media (max-width:767px) {
  header {
    .navbar-header, .navbar-brand {
      float: left;
    }

    #navbar {
      clear: both;
    }

  }

}

@media (min-width:991px) {
  .mobile-menu {
    display: none;
  }

}

@media (max-width:991px) {
  .mobile-menu {
    display: block;
  }

}

.mobile-menu {
  .open {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 10%;
    color: white;
    top: 12px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0px;
    left: 0;
    background-color: #2b323a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;

    > ul {
      margin-top: 10px;

      > li {
        display: flex;
        flex-wrap: wrap;

        > {
          a {
            max-width: 90%;
            flex-basis: 90%;
          }

          i {
            max-width: 10%;
            color: white;
            flex-basis: 10%;
            line-height: 2.5;
            text-align: right;
            padding-right: 10px;
          }

          ul {
            max-width: 100%;
            flex-basis: 100%;
          }

        }

        ul li {
          padding-left: 10px;
        }

      }

    }

    ul {
      padding-left: 0px;
    }

    .dropdown-container {
      display: none;

      li:last-child {
        border-bottom: none;
      }

    }

    li {
      border-bottom: 1px solid #FFE400;
    }

    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 15px;
      color: white !important;
      display: block;
      transition: 0.3s;
      cursor: pointer;

      i {
        position: absolute;
        right: 10px;
      }

      &:hover {
        color: #FFE400;
      }

      &.navbar-brand:hover {

        /*color:white !important;*/
      }

    }

    .closebtn {
      position: absolute;
      top: -10px;
      right: 5px;
      font-size: 36px;
      margin-left: 50px;
    }

    .navbar-brand:hover {

      /*color:white !important;*/
    }

  }

}
